<section class="img-with-sidetext" [ngClass]=" reversed ? 'reversed'  :''"  id="features">

    <div class="section-img-wrap">
        <div class="background-shadow-top">
        </div>

        <div class="background-shadow-side"></div>
        <img src={{imgUrl}} alt="">
        <img src={{imgUrl_2}} alt="">
        <img class="wide-img" src={{imgUrl_3}} alt="">
    </div>
 
    <div class="content-box">
        <h4>{{feature}}</h4>
        <h2>{{title}}</h2>
        <p>{{text}}</p>

        <app-link-button [text]="'More Info'"></app-link-button>
    </div>
</section>