<section class="footer-section">
    
    <div class="footer-top">
        <div class="footer__logo-side">
            <img src="/assets/icons/new-logo.svg" alt="">
            <p class="logo-bottom-text">
                The advantage of hiring a workspace with us is that givees you comfortable service and all-around
                facilities.
            </p>
        </div>
        <div class="footer__menus">
            <ul class="footer__menu">
                <li class="footer-item"><a href="#" class="footer-link">Services</a></li>
                <li class="footer-item"><a href="#" class="footer-link">Email Marketing</a></li>
                <li class="footer-item"><a href="#" class="footer-link">Campaigns</a></li>
                <li class="footer-item"><a href="#" class="footer-link">Branding</a></li>
            </ul>
            <ul class="footer__menu">
                <li class="footer-item"><a href="#" class="footer-link">Materials</a></li>
                <li class="footer-item"><a href="#" class="footer-link">Brass</a></li>
                <li class="footer-item"><a href="#" class="footer-link">Zamak</a></li>
                <li class="footer-item"><a href="#" class="footer-link">Special</a></li>
            </ul>
            <ul class="footer__menu">
                <li class="footer-item"><a href="#" class="footer-link">Follow Us</a></li>
                <li class="footer-item"><a href="#" class="footer-link">
                        
                        facebook
                    </a></li>
                <li class="footer-item"><a href="#" class="footer-link">
                       
                        twitter
                    </a></li>
                <li class="footer-item"><a href="#" class="footer-link">

                        instagram
                    </a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="bottom-right">
            <p>copyright &copy; 2022</p>
        </div>
        <div class="bottom-right">
            <a href="#" class="terms footer-link">terms & conditions</a>
            <a href="#" class="policy footer-link">privacy policy</a>
            <a href="#" class="policy footer-link">Javokhir</a>
        </div>
    </div>
</section>