<div class="swiper-wrap">
    <swiper [config]="config" class="products-swiper" #swiper>
        <ng-template swiperSlide *ngFor="let product of fetchedProducts">
            <app-product-box 
            [productName]=product.name
            [productCategory]="getCategory(product.categoryId)"
            [productPrice]=product.price
            [productImage]=product.image
            ></app-product-box>
        </ng-template>
    </swiper>
    <div class="slider-control-prev slider-control" (click)="slidePrev()">
        <img src="/assets/icons/slider-prev.svg" alt="">
    </div>
    
    <div class="slider-control-next slider-control" (click)="slideNext()">
        <img src="/assets/icons/slider-next.svg" alt="">
    </div>
</div>
