nav {
    background: transparent;
    width: 100%;
    padding: 4rem 8rem;
    display: flex;
}
.navbar-brand{
    width: 6rem;
}
nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 6rem;
    margin: 0 auto;
}
.navbar-item{
    display: flex;
    align-items: center;
}
.nav-link {
    color: var(--color-primary-white);
    font-family: 'Gilroy-Medium';
}