<div class="hero-section">
    <div class="hero-section__content">
        <h1>Make your interior more
            minimalistic & modern</h1>
        <p class="content__text">Turn your room with panto into a lot more minimalist and modern with ease and speed</p>
        <!-- <div class="search-box">
            <input type="text" id="search" placeholder="Search furniture">
            <label for="search"><img src="/assets/icons/search-icon.svg" alt=""></label>
        </div> -->
    </div>
</div>
