.hero-section {
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    background: url('/assets/images/hero-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
}
.hero-section__content{
    padding: 16.1rem 8rem 4rem 8rem;
    width: 50%;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-height: 1080px;
}
.hero-section__content h1 {
    color: var(--color-primary-white);
    margin-bottom: 1.5rem;
    text-align: left;
}
 
.hero-section__content .content__text {
    font-family: "Gilroy-Regular";
    font-size: 24px;
    line-height: 160%;
    color: var(--color-primary-white);
    opacity: 0.8;
    margin-bottom: 4.5rem;
    text-align:left;

}
/* 
.hero-section__content .search-box {
    display: flex;
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    background: rgba(255, 255, 255, 0.15);
    border: 0.861538px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    border-radius: 4.2rem;
    max-width: 34.4rem;
    margin: 0 auto;
} */

/* .hero-section__content .search-box label {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: rgb(49, 48, 48);
    border-radius: 2.4rem;
    border: none;
    outline: none;
    padding: 1.25rem;
}

.hero-section__content .search-box input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-primary-white);
}

.hero-section__content .search-box input::placeholder {
    font-family: "Gilroy-Regular";
    font-size: 18px;
    line-height: 150%;
    color: var(--color-primary-white);
    opacity: 0.8;
} */

@media screen and (max-width:1024px){
    .hero-section__content{
        padding:2.4rem;
        width: 100%;
        height: 100%;
    }
    .hero-section__content h1 {
        color: var(--color-primary-white);
        margin-bottom: 1.5rem;
        text-align: center;
       
    }
     
    .hero-section__content .content__text {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    } 
}
@media screen and (max-width:767px){
    .hero-section__content{
        padding:1.6rem;
    }
    .hero-section__content h1 {
        margin-bottom: 1.6rem;
    }
    
    .hero-section__content .content__text {
        font-size: 18px;
        line-height: 24px;
    } 
}