<section class="prices-section">
    <div class="section-right">
        <h2>A Modern Home Starts with Truebuy.</h2>
        <p>You'll find the perfect home furnishings without breaking your budget.</p>
        <div class="section-right__img-wrap">
            <img src="/assets/images/lock-img.webp" alt="">
        </div>
    </div>

    <div class="section-left">
        <div class="section-left-box">
            <h3>A Customized Experience for Every Style</h3>
            <p>Our customizing tool allows you to filter by size, color, type of furniture and more!</p>
        </div>
        <div class="section-left-box">
            <h3>A Customized Experience for Every Style</h3>
            <p>Our customizing tool allows you to filter by size, color, type of furniture and more!</p>
        </div>
        <div class="section-left-box">
            <h3>A Customized Experience for Every Style</h3>
            <p>Our customizing tool allows you to filter by size, color, type of furniture and more!</p>
        </div>
    </div>
</section>
