@import url('./css/typography.css');
@import url('./css/base.css');

nav {
    position: absolute;
}

.products-section .link-button {
    font-size: 1.8rem;
}

.footer {
    background-color: #f7f7f7;
}

.contact-section {
    margin-bottom: 24rem;
}

header {
    background-color: blue;
}

@media screen and (max-width:767px) {
    .why-choose-us .link-button {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width:1023px) {
    .contact-section {
        margin-bottom: 4rem;
    }
    
}
