<section class="contact-section">

    <div class="contact-box">
        <div class="box-item">
            <div class="box-icon">
                <img src="/assets/icons/phone-icon.svg" alt="">
            </div>
            <div class="box-content">
                <h4>Phone</h4>
                <p>+998997776655</p>
            </div>
        </div>
        <div class="box-item">
            <div class="box-icon">
                <img src="/assets/icons/address-icon.svg" alt="">
            </div>
            <div class="box-content">
                <h4>address</h4>
                <p>Shota Rustaveli Street, Tashkent, Uzbekistan</p>
            </div>
        </div>
    </div>

    <div class="googlemap">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d749.4418729202389!2d69.26055742172329!3d41.29216448710592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x185d66154e3b3999!2zNDHCsDE3JzMwLjUiTiA2OcKwMTUnNDEuNiJF!5e0!3m2!1sen!2s!4v1674290400593!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>